"*":
  "atom-package-sync": {}
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 13
    showIndentGuide: true
  "exception-reporting":
    userId: "bf94546e-3a98-4b57-9e2e-0b7d9dc2220e"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
